__pycache__/camera_controller.cpython-310.pyc
__pycache__/camera_controller.cpython-313.pyc
__pycache__/config_loader.cpython-310.pyc
__pycache__/live_3d_visualizer.cpython-310.pyc
__pycache__/live_3d_visualizer.cpython-313.pyc
__pycache__/object_detection_processor.cpython-310.pyc
__pycache__/object_detection_processor.cpython-313.pyc
__pycache__/point_cloud_visualizer.cpython-313.pyc
